.modal-dialog {
	margin-top: 40px;
}

.modal-header {
	min-height: 0;
	padding: 0;
	border-bottom: 0;

	button.close {
		background: url(../img/modal-close.png) no-repeat center center;
		width: 30px;
		height: 30px;
		opacity: 1;
		text-indent: -9999px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		position: absolute;
		top: 15px;
		right: 15px;

		&:hover {
			opacity: 0.8;
		}
	}
}

.modal-content {
	border: 4px solid #bababa;
	padding: 30px;
	max-width: 600px;
	font-size: 17px;
	line-height: 22px;

	.ptitle {
		margin: 0 auto 20px;
		max-width: 80%;
	}

	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		color: #7e8083;
		font-weight: bold;
	}

	p {
		width: 100%;
		max-width: 400px;
		margin: 0 auto 25px;
	}

	p.p-left {
		max-width: 100%;
		text-align: left;
	}

	.video-wrap {
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			cursor: pointer;
		}

		video {
			border: 4px solid #bababa;
			padding: 1px;
			width: 100%;
			display: block;
		}
	}

	.banner-image {
		margin: 0 0 20px;

		img {
			width: 100%;
		}
	}

	.blog-excerpt {
		border: 4px solid #bababa;
		background: #f6f6f6;
		font-size: 16px;

		.blog-img {
			float: left;
			width: 30%;
			border-right: 4px solid #bababa;

			img {
				width: 100%;
			}
		}

		.blog-content {
			float: left;
			width: 70%;
			padding: 30px 30px 10px;
			text-align: left;

			.blog-title {
				margin: 0 0 6px;
			}

			.date {
				font-weight: bold;
				margin: 0 0 15px;
			}
		}
	}

}

.popup-nutrition .modal-content .ptitle {
	margin: 0 auto 3px;
}
